@mixin titleLink {
    width: 16vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.8rem;
    margin: 1rem;
    color: $color-text;
    border: 1px solid $color-text;
    text-transform: uppercase;
    line-height: 1.2;
    @include mobile{
      font-size:1.4rem;
      height:6rem;
      width:13rem;
      color:white;
      background-color: rgb(43, 44, 41);
      border:none;
      border-radius: 3px;
      font-weight:600;
    }
    @include tablet{
      font-size:1.4rem;
      width:20vw;
    }
    @include desktopfix{
      font-size:1.6rem;
      width:18vw;
    }
  }
  
  @mixin decoration {
    width: 18vw;
    height: 6vh;
    background-image: url(./../../assets/Decoration.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1.4rem;
    @include mobile{
        width:58%;
        height:20%;
    }
  }
  
  @mixin stepTwoOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(236, 237, 231);
    top: 6rem;
    right: 0;
    width: 4rem;
    height: 10rem;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: 300;
    @include mobile{
      height: 14rem;
      width:8rem;
      top:7rem;
    }
  }