$mobile-width: 640px;
$tablet-width: 840px;
$desktop: 1080px;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin landscape {
  @media screen and ( min-width: 641px ) and (max-width: 860px) and ( max-height: 400px ){
    @content;
  }
}

@mixin desktopfix {
  @media (min-width: #{$tablet-width + 1px}) and (max-width: #{$desktop}) {
    @content;
  }
}

@include mobile {
  html {
    font-size: 70%;
  }
}

@include tablet {
  html {
    font-size: 80%;
  }
}

@include landscape{
  html{
    font-size:65%;
  }
}
