.headerMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  height: 80vh;
  margin-top: 1rem;
  @include mobile {
    height: 66vh;
    margin-top: 3rem;
    padding-top: 2rem;
    margin-bottom: 6rem;
  }
  .headerImage {
    width: 40%;
    height: 100%;
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 86% 0;
    margin: 0 auto;
    @include mobile {
      display: none;
    }
  }
  .headerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    @include mobile {
      width: 100%;
      height: 90%;
      position: relative;
      &::after {
        content: "";
        background-image: url("../../assets/Home-Hero-Image.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        bottom: -8rem;
        left: -6rem;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: -1;
      }
    }
    .loginNav {
      width: 70%;
      max-width: 700px;
      height: 6vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 1rem;
      @include mobile {
        width: 100%;
        height: 16vh;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
      }
      a {
        color: $color-textLight;
        text-decoration: none;
        font-size: 0.9rem;
        margin-left: 1.5rem;
        @include mobile {
          display:block;
          color: white;
          margin-left: 0;
          font-size: 1.3rem;
          margin-bottom: 1rem;
          width: 12rem;
          height: 8rem;
          min-height:6rem;
          border: 0.75px solid $color-main;
          padding: 4px 6px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:nth-of-type(2) {
          border: 0.75px solid $color-main;
          padding: 8px 12px;
          @include mobile {
            padding: 4px 6px;
          }
        }
      }
    }
    h3 {
      font-size: 0.9rem;
      @include mobile{
        font-size:1.4rem;
        color:white;
        position: absolute;
        top:-3rem;
      }
    }
  }
  .navList {
    width: 70%;
    max-width: 700px;
    height: 6vh;
    @include mobile {
      width: 100%;
      height: 30vh;
      margin-top: 30%;
      margin-bottom: 40%;
    }
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 1.1rem;
      color: $color-text;
      text-align: center;
      @include mobile {
        flex-direction: column;
        color: white;
        font-size: 1.5rem;
      }
      li:nth-of-type(1) {
        padding: 8px 16px;
        border: 0.75px solid $color-text;
        @include mobile {
          padding: 0;
          border: none;
        }
      }
      li:hover {
        cursor: pointer;
      }
    }
  }
  .titleHeader {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    margin-right: 5rem;
    @include mobile {
      margin-right: 0;
      padding-right:0;
      align-items: center;
      justify-content: flex-start;
      margin-top:5rem;
      width: 100%;
      height: 100%;
    }
    .decoration {
      @include mobile {
        display: none;
      }
    }
    h1,
    h2 {
      font-size: 2.2rem;
      letter-spacing: -0.76px;
      color: $color-text;
      margin: 0.6rem;
      margin-right: 30px;
      text-align: center;
      @include mobile {
        margin-right: 0;
      }
    }
    h1 {
      @include mobile {
        font-size: 1.5rem;
        margin-top: 1rem;
        line-height: 1.2;
      }
    }
    h2 {
      margin-bottom: 2rem;
      @include mobile {
        margin-right: 0;
        margin-top: 2rem;
        font-size: 2.2rem;
        line-height: 1.4;
      }
    }
    .titleLinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 2.2rem;
      @include mobile {
        width: 100%;
        height: 24%;
        margin-top: 4rem;
        justify-content: flex-end;
        position: absolute;
        bottom:0;
        right:1rem;
      }
      a {
        @include titleLink;
        p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
