.giveAwayHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  height: 80vh;
  @include mobile {
    height: 3vh;
    margin-top: 3rem;
  }
  .headerImage {
    width: 40%;
    height: 100%;
    position: relative;
    @include mobile {
      display: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 125%;
      height: 100%;
      background-image: url("./../../assets/Form-Hero-Image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 24% 0;
      z-index: 1;
    }
  }
  .headerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-top: 1rem;
    z-index: 10;
    .loginNav {
      width: 70%;
      max-width: 700px;
      height: 6vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 1rem;
      @include mobile {
        width: 100%;
        height: 16vh;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
      }
      a {
        color: $color-textLight;
        text-decoration: none;
        font-size: 0.9rem;
        margin-left: 1.5rem;
        @include mobile {
          display: block;
          color: white;
          margin-left: 0;
          font-size: 1.3rem;
          margin-bottom: 1rem;
          width: 12rem;
          height: 8rem;
          min-height: 6rem;
          border: 0.75px solid $color-main;
          padding: 4px 6px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &:nth-of-type(2) {
          border: 0.75px solid $color-main;
          padding: 8px 12px;
          @include mobile {
            padding: 4px 6px;
          }
        }
      }
      h3 {
        font-size: 0.9rem;
        @include mobile {
          font-size: 1.2rem;
          color: white;
          position: absolute;
          top: -3rem;
        }
      }
    }
    .navList {
      width: 70%;
      max-width: 700px;
      height: 6vh;
      @include mobile {
        width: 100%;
        height: 30vh;
        margin-top: 30%;
        margin-bottom: 40%;
      }
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.1rem;
        color: $color-text;
        text-align: center;
        @include mobile {
          flex-direction: column;
          color: white;
          font-size: 1.5rem;
        }
        li {
          @media screen and (min-width: 641px) and (max-width: 1150px) {
            width: 20%;
          }
        }
        li:nth-of-type(1) {
          padding: 8px 16px;
          border: 0.75px solid $color-text;
          @include mobile {
            padding: 0;
            border: none;
          }
        }
        li:hover {
          cursor: pointer;
        }
      }
    }
    .titleHeader {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 1rem;
      margin-right: 1rem;
      h1,
      h2 {
        font-size: 2rem;
        letter-spacing: -0.76px;
        color: $color-text;
        margin: 0.5rem;
        margin-right: 30px;
        text-align: center;
      }
      h2 {
        margin-bottom: 1rem;

        &:nth-of-type(2) {
          margin-bottom: 2rem;
        }
      }
      .giveAwayTitle {
        height: 30%;
        width: 72%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: $color-text;
        position: relative;
        div {
          border: 0.75px solid $color-text;
          width: 7rem;
          height: 7rem;
          transform: rotate(-45deg);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          &:nth-of-type(1) {
            left: 0;
          }
          &:nth-of-type(2) {
            left: 9vw;
          }
          &:nth-of-type(3) {
            left: 18vw;
          }
          &:nth-of-type(4) {
            left: 27vw;
          }
          h2 {
            width: 2rem;
            height: 2.5rem;
            font-size: 1.6rem;
            font-weight: 300;
            text-align: center;
            position: absolute;
            left: 3.6rem;
            top: 0;
            transform: rotate(45deg);
          }
          p {
            width: 70%;
            height: 30%;
            font-size: 1.1rem;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            transform: rotate(45deg);
            bottom: 2.4rem;
            right: 1rem;
          }
        }
      }
      .decoration {
        margin-bottom: 1rem;
      }
    }
  }
}
