form#stepFourForm {
  width: 70%;
  height: 52%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  @include mobile{
    width: 100%;
    height:60%;

  }
  p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  input {
    border: 0.75px solid $color-text;
    background-color: transparent;
    width: 13.5rem;
    height: 2rem;
    @include mobile{
      min-height:2.2rem;
    }
  }
  #textareaStepFour {
    height: 30%;
    align-items: flex-start;
    margin-top: 0.4rem;
    textarea {
      border: 0.75px solid $color-text;
      background-color: transparent;
      width: 13.5rem;
      height: 6rem;
      resize: none;
      @include mobile{
        min-height:4rem;
      }
    }
  }
  label {
    font-weight: 300;
    font-size: 1.1rem;
    max-width:22%;
    @include mobile{
      max-width: none;
      white-space: nowrap;
    }
    @include tablet{
      width:100%;
      max-width: 30%;
    }
  }
  div {
    width: 46%;
    height: 76%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 2rem;
    @include mobile{
      width:50%;
      height:90%;
    }
    div {
      width: 96%;
      height: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @include mobile{
        width:80%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      @include tablet{
        width:100%;
      }
    }
    &:nth-of-type(2) {
      position: relative;
      ul {
        position: absolute;
        bottom: -7rem;
        @include mobile {
          bottom:-2rem;
          left:-16rem;
        }
        li {
          color: rgb(241, 63, 32);
          font-size: 1.2rem;
          font-weight: 300;
          animation-name: eachStepIn;
          animation-duration: 0.5s;
        }
      }
    }
  }
}
