.loginSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mobile{
    position: relative;
  }
  .headerLogin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: 20vh;
    float: right;
    .headerLoginRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 100%;
      @include mobile{
        width:100%;
      }
      .loginNav {
        width: 70%;
        max-width: 700px;
        height: 6vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1rem;
        @include mobile {
          width: 100%;
          height: 16vh;
          justify-content: flex-start;
          flex-direction: column;
          position: relative;
        }
        a {
          color: $color-textLight;
          text-decoration: none;
          font-size: 0.9rem;
          margin-left: 1.5rem;
          @include mobile {
            display:block;
            color: white;
            margin-left: 0;
            font-size: 1.3rem;
            margin-bottom: 1rem;
            width: 12rem;
            height: 8rem;
            min-height:6rem;
            border: 0.75px solid $color-main;
            padding: 4px 6px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:nth-of-type(2) {
            border: 0.75px solid $color-main;
            padding: 8px 12px;
            
          }
        }
      }
      .navList {
        width: 70%;
        max-width: 700px;
        height: 6vh;
        @include mobile {
          width: 100%;
          height: 30vh;
          margin-top: 30%;
          margin-bottom: 40%;
        }
        ul {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 1.1rem;
          color: $color-text;
          @include mobile {
            flex-direction: column;
            color: white;
            font-size: 1.5rem;
          }
          li{
            @media screen and ( min-width: 641px ) and (max-width: 1150px){
              width:20%;
            }
          }
          a {
            color: $color-text;
            text-decoration: none;
            @include mobile{
              color: white;
            }
          }
          li:hover {
            cursor: pointer;
          }
          li:nth-of-type(1) {
            padding: 8px 16px;
            border: 0.75px solid transparent;
          }
        }
      }
    }
  }
  .login {
    width: 100%;
    height: 64vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-text;
    margin-top: 3rem;
    animation-name: loginLogout;
    animation-duration: 0.8s;
    h2 {
      font-size: 2.2rem;
      margin-bottom: 1rem;
      @include mobile{
        font-size:2.6rem;
      }
    }
    .decoration {
      @include decoration;
      margin-bottom: 2rem;
    }
    form {
      height: 64%;
      width: 26%;
      background-color: $color-base;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 1rem;
      @include mobile{
        width:80%;
        height:74%;
      }
      @include landscape{
        height:100%;
        padding:0;
      }
      div {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        @include mobile{
          justify-content: space-around;
        }
        input {
          width: 100%;
          background: none;
          border: none;
          border-bottom: 1px solid #707070;
          height: 2rem;
          @include mobile{
            height:3rem;
          }
        }
        label {
          margin-bottom: 0.6rem;
          font-weight: 600;
          @include mobile{
            font-size: 1.5rem;
          }
        }
      }
    }
    .loginButtons {
      height: 20%;
      width: 34%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 1rem;
      @include mobile{
        width:80%;
      }
      a {
        text-decoration: none;
        color: #000;
        @include mobile{
          font-size: 1.6rem;
        }
      }
      input {
        background: none;
        border: 0.75px solid $color-text;
        font-weight: 300;
        padding: 0.8rem;
        &:hover {
          cursor: pointer;
        }
        @include mobile{
          padding:2rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}

.logout {
  width: 100%;
  height: 32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  animation-name: loginLogout;
  animation-duration: 0.8s;
  h2 {
    font-size: 2.6rem;
    text-align: center;
    color:$color-text;
    line-height: 1.2;
  }
  .decoration {
    @include decoration;
  }
  a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    border: 0.75px solid $color-text;
    font-weight: 300;
    padding: 0.8rem;
    @include mobile{
      padding: 2.5rem;
    }
  }
}
