.headerMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  height: 80vh;
  margin-top: 1rem;
  @include mobile {
    height: 66vh;
    margin-top: 0;
  }
  .headerImage {
    width: 40%;
    height: 100%;
    background-image: url("./../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 86% 0;
    margin: 0 auto;
    @include mobile {
      display: none;
    }
  }
  .headerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    @include mobile {
      width: 100%;
      height: 70%;
      position: relative;
    }
    .mobileBar {
      width: 100%;
      height: 12%;
      background-color: $color-main;
      position: fixed;
      top: 0;
      z-index: 1200;
      .hamburgerIcon {
        font-size:3.8rem;
        position: absolute;
        top: 26%;
        right: 2rem;
        color:white;
        &:hover {
          cursor: pointer;
        }
      }
      .tshirt {
        width:26%;
        height:100%;
        font-size: 6rem;
        position: absolute;
        color: $color-text;
        top: 0;
        left: 1rem;
        background-image: url("./../assets/tshirts.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .mobileNav {
      position: fixed;
      top: 12%;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 88%;
      width: 70%;
      background-color: $color-text;
      z-index: 120;
      animation-name: mobileMenuIn;
      animation-duration: 0.5s;
      svg {
        position: absolute;
        font-size: 3.2rem;
        top: 50%;
        left: 0.7rem;
        color: $color-textLight;
      }
    }

    .loginNav {
      width: 70%;
      max-width: 700px;
      height: 6vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 1rem;
      @include mobile {
        width: 100%;
        height: 16vh;
        justify-content: flex-start;
        flex-direction: column;
      }
      a {
        color: $color-textLight;
        text-decoration: none;
        font-size: 0.9rem;
        margin-left: 1.5rem;
        @include mobile {
          color: white;
          margin-left: 0;
          font-size: 1.3rem;
          margin-bottom: 1rem;
          width: 12rem;
          height: 8rem;
          border: 0.75px solid $color-main;
          padding: 4px 6px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:nth-of-type(2) {
          border: 0.75px solid $color-main;
          padding: 8px 12px;
          @include mobile {
            padding: 4px 6px;
          }
        }
      }
    }
    h3 {
      font-size: 0.9rem;
    }
  }
  .navList {
    width: 70%;
    max-width: 700px;
    height: 6vh;
    @include mobile {
      width: 100%;
      height: 30vh;
      margin-top: 30%;
      margin-bottom:40%;
    }
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 1.1rem;
      color: $color-text;
      text-align: center;
      @include mobile {
        flex-direction: column;
        color: white;
        font-size:1.5rem;
      }
      li:nth-of-type(1) {
        padding: 8px 16px;
        border: 0.75px solid $color-text;
        @include mobile {
          padding: 0;
          border: none;
        }
      }
      li:hover {
        cursor: pointer;
      }
    }
  }
  .titleHeader {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    margin-right: 5rem;
    @include mobile {
      margin-right: 0;
    }
    h1,
    h2 {
      font-size: 2.2rem;
      letter-spacing: -0.76px;
      color: $color-text;
      margin: 0.6rem;
      margin-right: 30px;
      text-align: center;
      @include mobile {
        margin-right: 0;
      }
    }
    h2 {
      margin-bottom: 2rem;
      @include mobile {
        margin-right: 0;
      }
    }
    .titleLinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 2.6rem;
      a {
        @include titleLink;
        p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
