.allStepsSection{
    width:100%;
    height:80vh;
    background-image:url("../assets/Background-Form.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}