form#stepFourForm {
  width: 70%;
  height: 52%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  input {
    border: 0.75px solid $color-text;
    background-color: transparent;
    width: 13.5rem;
    height: 2rem;
  }
  #textareaStepFour {
    height: 30%;
    align-items: flex-start;
    margin-top:0.4rem;
    textarea {
      border: 0.75px solid $color-text;
      background-color: transparent;
      width: 13.5rem;
      height: 6rem;
      resize: none;
    }
  }
  label {
    font-weight: 300;
    font-size: 1.1rem;
  }
  div {
    width: 46%;
    height: 76%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 2rem;
    div {
      width: 80%;
      height: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
